<a href="https://www.kaggle.com/code/roshanrawat/data-cleaning-in-accordance-to-hadley-research-pap?scriptVersionId=104425416" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/gapminder/gapminder.tsv
/kaggle/input/datacleaningdatasets/survey_person.csv
/kaggle/input/datacleaningdatasets/pew.csv
/kaggle/input/datacleaningdatasets/country_timeseries.csv
/kaggle/input/datacleaningdatasets/survey_site.csv
/kaggle/input/datacleaningdatasets/weather.csv
/kaggle/input/datacleaningdatasets/survey_survey.csv
/kaggle/input/datacleaningdatasets/billboard.csv
/kaggle/input/datacleaningdatasets/concat_3.csv
/kaggle/input/datacleaningdatasets/concat_1.csv
/kaggle/input/datacleaningdatasets/concat_2.csv
/kaggle/input/datacleaningdatasets/survey_visited.csv

In [2]:
df= pd.read_csv("../input/gapminder/gapminder.tsv", sep='\t')

In [3]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
# provides the numpy array representation of the data
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.332, 9240934, 820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.10071],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499603],
       ['Zimbabwe', 'Africa', 2002, 39.989, 11926563, 672.0386227],
       ['Zimbabwe', 'Africa', 2007, 43.487, 12311143, 469.7092981]],
      dtype=object)

In [6]:
#DataFrame is nothing but a buncbh of series(i.e columns)

type(df)

pandas.core.frame.DataFrame

In [7]:
#so if we store a single column in a dataframe it will return the type as SERIES
country_df = df['country']
type(country_df)

pandas.core.series.Series

In [8]:
#dimensions of the dataset
df.shape

(1704, 6)

In [9]:
# first row tells you the type
#second row provides the index
#all the column details and if it has any null values in it
#Dtype provides the datatype of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [10]:
#If we want multiple columns from the dataset and no the whole we use subset
subset= df[['country', 'continent', 'year']]

In [11]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [12]:
#pandas version
pd.__version__

'1.3.5'

In [13]:
#How to get specific rows in the dataframe
# first way
df.loc[2]

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap      853.10071
Name: 2, dtype: object

In [14]:
#Second way for mulitple rows
df.loc[[2,0]]
#we will get the two rows back and in the order we want it

       country continent  year  lifeExp       pop   gdpPercap
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
0  Afghanistan      Asia  1952   28.801   8425333  779.445314

In [15]:
#Third way
df.iloc[2]

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap      853.10071
Name: 2, dtype: object

In [16]:
#just to get the data from year 1967
df.loc[df['year']==1967, ['year', 'pop']]

      year       pop
3     1967  11537966
15    1967   1984060
27    1967  12760499
39    1967   5247469
51    1967  22934225
...    ...       ...
1647  1967  39463910
1659  1967   1142636
1671  1967   6740785
1683  1967   3900000
1695  1967   4995432

[142 rows x 2 columns]

In [17]:
df1= pd.read_csv('../input/datacleaningdatasets/pew.csv')

In [18]:
#Dataframe having more columns is refered to as WIDE DATA
df1.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Donâ€™t know/refused,15,14,15,11,10,35,21,17,18,116

In [19]:
#id_vars is used to indicate that except for that column melt all the other
pew_long= pd.melt(df1, id_vars='religion')

In [20]:
pew_long

                  religion            variable  value
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Donâ€™t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [21]:
#Now if we have to change the column names as per our choice, we will use -:
pew_long= pd.melt(df1,id_vars='religion',var_name= 'Income', value_name= 'Count')

In [22]:
pew_long.head()

             religion Income  Count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Donâ€™t know/refused  <$10k     15

In [23]:
billboard = pd.read_csv("../input/datacleaningdatasets/billboard.csv")

In [24]:
billboard.head()

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
billboard_melt= pd.melt(billboard,
                        id_vars=['year', 'artist', 'track', 'time', 'date.entered'], 
                        var_name= 'weak',
                        value_name='rating')

In [26]:
billboard_melt.head()

   year        artist                    track  time date.entered weak  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [27]:
billboard_melt.shape

(24092, 7)

In [28]:
ebola= pd.read_csv("../input/datacleaningdatasets/country_timeseries.csv")

In [29]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [30]:
ebola_long= pd.melt(ebola, id_vars=['Date', 'Day'])

In [31]:
ebola_long.tail()

           Date  Day     variable  value
1947  3/27/2014    5  Deaths_Mali    NaN
1948  3/26/2014    4  Deaths_Mali    NaN
1949  3/25/2014    3  Deaths_Mali    NaN
1950  3/24/2014    2  Deaths_Mali    NaN
1951  3/22/2014    0  Deaths_Mali    NaN

In [32]:
ebola_long['variable']

0       Cases_Guinea
1       Cases_Guinea
2       Cases_Guinea
3       Cases_Guinea
4       Cases_Guinea
            ...
1947     Deaths_Mali
1948     Deaths_Mali
1949     Deaths_Mali
1950     Deaths_Mali
1951     Deaths_Mali
Name: variable, Length: 1952, dtype: object

In [33]:
'Cases_Guinea'.split('_')

['Cases', 'Guinea']

In [34]:
#Splitting one column into two different components
variable_split= ebola_long['variable'].str.split('_')

In [35]:
variable_split

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
             ...
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object

In [36]:
type(variable_split)

pandas.core.series.Series

In [37]:
#Since it is a series we can get the values just by calling the index
variable_split[0]

['Cases', 'Guinea']

In [38]:
#it is pythin list and hence we can perform the basic python operations on it
type(variable_split[0])

list

In [39]:
#Now we can get elements as well
#example first element of the first row
variable_split[0][0]

'Cases'

In [40]:
#get the complete first column values
#this gives us the stats that is death and cases
variable_split.str[0]

0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
         ...
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, Length: 1952, dtype: object

In [41]:
#second column values
variable_split.str[1]
#this gives us the country

0       Guinea
1       Guinea
2       Guinea
3       Guinea
4       Guinea
         ...
1947      Mali
1948      Mali
1949      Mali
1950      Mali
1951      Mali
Name: variable, Length: 1952, dtype: object

In [42]:
#Creating new column now
# using get function
#ebola_long['Stats']= variable_split.str.get(0)
ebola_long['Stats']= variable_split.str[0]

In [43]:
ebola_long['Country']= variable_split.str[1]

In [44]:
ebola_long.head()

         Date  Day      variable   value  Stats Country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [45]:
#ebola_long= ebola_long.drop(['variable', 'value'], axis= 1)

In [46]:
ebola_long

            Date  Day      variable   value   Stats Country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea
...          ...  ...           ...     ...     ...     ...
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali

[1952 rows x 6 columns]

In [47]:
#Performing the same result with diffferent code
ebola_long['variable'].str.split('_', expand= True)

           0       1
0      Cases  Guinea
1      Cases  Guinea
2      Cases  Guinea
3      Cases  Guinea
4      Cases  Guinea
...      ...     ...
1947  Deaths    Mali
1948  Deaths    Mali
1949  Deaths    Mali
1950  Deaths    Mali
1951  Deaths    Mali

[1952 rows x 2 columns]

In [48]:
ebola_long[['Stats_e', 'Country_e']]= (ebola_long['variable'].str.split('_', expand= True))

In [49]:
ebola_long

            Date  Day      variable   value   Stats Country Stats_e Country_e
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea   Cases    Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea   Cases    Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea   Cases    Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea   Cases    Guinea
...          ...  ...           ...     ...     ...     ...     ...       ...
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali

[1952 rows x 8 columns]

In [50]:
weather= pd.read_csv("../input/datacleaningdatasets/weather.csv")

In [51]:
weather.head(5)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
weather_melt= pd.melt(weather, id_vars=['id' ,'year', 'month', 'element'],
                     var_name= 'day',
                     value_name= 'temp')

In [53]:
weather_melt.head()

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [54]:
weather_tidy= weather_melt.pivot_table(index= ['id', 'year', 'month', 'day'],
                                      columns='element', values='temp')

In [55]:
weather_tidy

element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4
                   d8   29.0  17.3
             10    d5   27.0  14.0
                   d14  29.5  13.0
                   d15  28.7  10.5
                   d28  31.2  15.0
                   d7   28.1  12.9
             11    d2   31.3  16.3
                   d5   26.3   7.9
                   d27  27.7  14.2
                   d26  28.1  12.1
                   d4   27.2  12.0
             12    d1   29.9  13.8
                   d6   27.8  10.5

In [56]:
#if you see a weird heirarchy you can always use reset index
weather_tidy.reset_index()

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5

In [57]:
billboard_melt.head()

   year        artist                    track  time date.entered weak  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [58]:
#filtering the dataset
#As you can see there are multiple entries for a single song so it will get very difficult
# to analyse or model it
billboard_melt[billboard_melt['track']=='Loser']

       year        artist  track  time date.entered  weak  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
...     ...           ...    ...   ...          ...   ...     ...
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [59]:
#making a new dataframe for billboard songs
billboard_songs= billboard_melt[['year','artist', 'track', 'time']]
billboard_songs.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [60]:
billboard_songs.shape

(24092, 4)

In [61]:
billboard_songs= billboard_songs.drop_duplicates()

In [62]:
#generating key to concat with other df
billboard_songs['id']= range(len(billboard_songs))

In [63]:
billboard_songs.to_csv("billboard_songs.csv", index= False)

In [64]:
billboard_ratings= billboard_melt.merge(billboard_songs, on=['year', 'artist','track','time'])

In [65]:
billboard_ratings.head()

   year artist                    track  time date.entered weak  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

In [66]:
billboard_ratings = billboard_ratings[['id', 'date.entered', 'weak', 'rating']]